0_Questionnaire_Creation.json
{
  "name": "0 Questionnaire Creation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE",
          "mode": "list",
          "cachedResultName": "job_desc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -80
      ],
      "id": "4f2c0a24-725d-4f33-ae06-ed356ba97167",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "lfqblTozRqebK2fL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please generate the 5 screening questions for the following role.\n\n### JOB CONTEXT\n**Role Title:** {{ $json.Job_Title }}\n**Job Description:**\n{{ $json.Description }}\n\n### OUTPUT REQUIREMENT\nReturn the 5 questions in the specified JSON format.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "### ROLE\nYou are an expert Technical Hiring Manager and Lead Recruiter at a top-tier technology firm. You are famous for asking deep, insightful questions that reveal a candidate's true expertise, problem-solving abilities, and cultural fit.\n\n### OBJECTIVE\nYour goal is to generate a targeted \"Screening Questionnaire\" consisting of exactly 5 questions based on the specific Job Description provided by the user.\n\n### GUIDELINES FOR QUESTIONS\n1. **Mix of Types:**\n   - Q1 & Q2: Hard Technical Skills (Specific to tools/languages mentioned in the JD).\n   - Q3 & Q4: Situational/Problem Solving (e.g., \"Describe a time when...\").\n   - Q5: Soft Skills/Culture (e.g., Collaboration, conflict resolution, or adaptability).\n2. **Open-Ended:** Never ask \"Yes/No\" questions. Questions must require an explanation.\n3. **Context Aware:** For example if the JD mentions \"Python\", do not ask generic coding questions; ask about specific Python frameworks or libraries mentioned (e.g., Django, Pandas).\n\n### CRITICAL OUTPUT RULES\n- You must output **ONLY** valid JSON.\n- Do not include markdown formatting (like ```json).\n- Do not include conversational text before or after the JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -240,
        -80
      ],
      "id": "5b4c7a29-d458-4475-9b7d-a6c8bbd16ad3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -304,
        128
      ],
      "id": "a709a6d1-c8fb-4cba-92c4-b4c33e15a22a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jE1CmDehtcO2vsMC",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"question_1\": \"Describe your experience with [Specific Tech Stack from JD] and provide a concrete example of a complex challenge you solved using it.\",\n  \"question_2\": \"The job description emphasizes [Key Responsibility]. How have you handled this in previous roles, and what was the outcome?\",\n  \"question_3\": \"Imagine you are facing a tight deadline and a critical bug is found in production. Walk us through your triage and resolution process.\",\n  \"question_4\": \"Describe a situation where you had a technical disagreement with a team member. How did you resolve it and what was the result?\",\n  \"question_5\": \"What specific aspect of this role at KlarDataLabs excites you the most, and how does it align with your career goals?\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -32,
        128
      ],
      "id": "8dafc6b5-62bb-4e8a-965c-eca86c626c10",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE",
          "mode": "list",
          "cachedResultName": "job_desc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job_ID": "={{ $('Google Sheets Trigger').item.json.Job_ID }}",
            "Question_1": "={{ $json.output.question_1 }}",
            "Question_2": "={{ $json.output.question_2 }}",
            "Question_3": "={{ $json.output.question_3 }}",
            "Question_4": "={{ $json.output.question_4 }}",
            "Question_5": "={{ $json.output.question_5 }}"
          },
          "matchingColumns": [
            "Job_ID"
          ],
          "schema": [
            {
              "id": "Job_ID",
              "displayName": "Job_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job_Title",
              "displayName": "Job_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Question_1",
              "displayName": "Question_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question_2",
              "displayName": "Question_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question_3",
              "displayName": "Question_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question_4",
              "displayName": "Question_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question_5",
              "displayName": "Question_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -80
      ],
      "id": "eabd14fd-e01b-483c-aad1-710331042114",
      "name": "Add Questions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### WF 0\nAI generates questions based on Job Description",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -240
      ],
      "typeVersion": 1,
      "id": "d1b11032-e38c-4ef1-95b3-8376367bd214",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}