n8n-Recruitment Automation/1_Application_Form_and_Upload.json
{
  "name": "1 Application Form and Upload",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "Resume",
        "name": "={{ $json[\"First Name\"] }}_{{ $json[\"Last Name\"] }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Upload Data').item.json.TargetFolderID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        352
      ],
      "id": "4d36030b-82ee-4aaa-8aa3-392b52c67b78",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kiMzB4duaMcZAOss",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "firstname": "={{ $('Prepare Upload Data').item.json['First Name'] }}",
            "lastname": "={{ $('Prepare Upload Data').item.json['Last Name'] }}",
            "status": "CV Received",
            "file_id": "={{ $json.id }}",
            "email": "={{ $('Prepare Upload Data').item.json.Email }}",
            "job_id": "={{ $('Prepare Upload Data').item.json.Job_ID }}"
          },
          "matchingColumns": [
            "applicant_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        352
      ],
      "id": "d7b68b13-a935-4d14-a1e2-397fe2914bcc",
      "name": "Applicant Databse",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "apply",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "edaa2f2f-4fd7-4005-a90a-ab8dbb530fcf",
      "name": "Webhook",
      "webhookId": "b925cfc7-93af-4362-909d-f09430eab70d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE",
          "mode": "list",
          "cachedResultName": "Job_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        0
      ],
      "id": "a5ad0ff0-4840-49c5-9201-7fc0fba3c8cf",
      "name": "Get Jobs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create the HTML string for the dropdown options\nlet optionsHtml = '<option value=\"\" disabled selected>Select a Role</option>';\n\nfor (const item of items) {\n  const id = item.json.Job_ID;      // The value sent to the system\n  const title = item.json.Job_Title; // The text the user sees\n  optionsHtml += `<option value=\"${id}\">${title}</option>`;\n}\n\nreturn [{ json: { optionsHtml } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "4311046e-9cd8-4cfb-891a-bd61a7473658",
      "name": "render Jobs"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Apply at KlarDataLabs</title>\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  \n  <style>\n    /* Global Reset */\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n\n    body {\n      font-family: 'Inter', sans-serif;\n      background-color: #f3f4f6;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      min-height: 100vh;\n      color: #1f2937;\n      padding: 20px;\n    }\n\n    /* Card Container */\n    .form-card {\n      background-color: #ffffff;\n      width: 100%;\n      max-width: 480px;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);\n      border-top: 6px solid #2563eb; /* Tech Blue Brand Line */\n    }\n\n    h1 {\n      font-size: 24px;\n      font-weight: 700;\n      text-align: center;\n      margin-bottom: 8px;\n      color: #111827;\n    }\n\n    .subtitle {\n      text-align: center;\n      color: #6b7280;\n      font-size: 14px;\n      margin-bottom: 30px;\n    }\n\n    /* Form Elements */\n    .form-group {\n      margin-bottom: 20px;\n    }\n\n    label {\n      display: block;\n      font-size: 14px;\n      font-weight: 500;\n      color: #374151;\n      margin-bottom: 8px;\n    }\n\n    input[type=\"text\"],\n    input[type=\"email\"],\n    select {\n      width: 100%;\n      padding: 10px 12px;\n      border: 1px solid #d1d5db;\n      border-radius: 6px;\n      font-size: 15px;\n      transition: border-color 0.15s ease, box-shadow 0.15s ease;\n      background-color: #fff;\n    }\n\n    /* Focus State (Accessibility) */\n    input:focus, select:focus {\n      outline: none;\n      border-color: #2563eb;\n      box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);\n    }\n\n    /* File Input Styling */\n    input[type=\"file\"] {\n      width: 100%;\n      font-size: 14px;\n      color: #6b7280;\n      border: 1px dashed #d1d5db;\n      padding: 10px;\n      border-radius: 6px;\n      background-color: #f9fafb;\n      cursor: pointer;\n    }\n    \n    input[type=\"file\"]:hover {\n      background-color: #f3f4f6;\n      border-color: #9ca3af;\n    }\n\n    input[type=\"file\"]::file-selector-button {\n      margin-right: 10px;\n      border: none;\n      background: #e5e7eb;\n      padding: 8px 12px;\n      border-radius: 4px;\n      color: #374151;\n      cursor: pointer;\n      font-weight: 500;\n      font-family: inherit;\n      transition: background 0.2s;\n    }\n\n    input[type=\"file\"]::file-selector-button:hover {\n      background: #d1d5db;\n    }\n\n    /* Submit Button */\n    button {\n      width: 100%;\n      background-color: #2563eb;\n      color: white;\n      border: none;\n      padding: 12px 20px;\n      font-size: 16px;\n      font-weight: 600;\n      border-radius: 6px;\n      cursor: pointer;\n      transition: background-color 0.2s;\n      margin-top: 10px;\n    }\n\n    button:hover {\n      background-color: #1d4ed8;\n    }\n\n  </style>\n</head>\n<body>\n\n  <div class=\"form-card\">\n    <h1>Job Application</h1>\n    <div class=\"subtitle\">Join the KlarDataLabs Team</div>\n\n    <form action=\"https://vmi2913532.contaboserver.net/webhook/submit-application\" method=\"POST\" enctype=\"multipart/form-data\">\n      \n      <div class=\"form-group\">\n        <label>First Name</label>\n        <input type=\"text\" name=\"firstname\" placeholder=\"e.g. Sarah\" required>\n      </div>\n\n      <div class=\"form-group\">\n        <label>Last Name</label>\n        <input type=\"text\" name=\"lastname\" placeholder=\"e.g. Jenkins\" required>\n      </div>\n\n      <div class=\"form-group\">\n        <label>Email Address</label>\n        <input type=\"email\" name=\"email\" placeholder=\"sarah@example.com\" required>\n      </div>\n\n      <div class=\"form-group\">\n        <label>Select Role</label>\n        <select name=\"job_id\" required>\n          {{ $json.optionsHtml }} \n        </select>\n      </div>\n\n      <div class=\"form-group\">\n        <label>Resume (PDF only)</label>\n        <input type=\"file\" name=\"resume\" accept=\".pdf\" required>\n      </div>\n\n      <button type=\"submit\">Submit Application</button>\n    </form>\n  </div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        0
      ],
      "id": "5c4b7515-5fc8-45a1-bdd8-9f4b0f3e8528",
      "name": "Render Page"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-application",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        352
      ],
      "id": "96b2a77b-9ed8-472e-aa91-28b5b01d0eb3",
      "name": "Webhook1",
      "webhookId": "cc07c25b-478c-4129-9ce8-b46d1ee0a556"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE",
          "mode": "list",
          "cachedResultName": "Job_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job_ID",
              "lookupValue": "={{ $json.body.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        352
      ],
      "id": "b5c4c514-fe3d-41c2-8954-13912f70a5b9",
      "name": "Lookup Job Details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b45588a-6e84-4c0b-97d4-bd9bc4567e38",
              "name": "Job_ID",
              "value": "={{ $json.Job_ID }}",
              "type": "string"
            },
            {
              "id": "3014e04e-5805-4c4c-9447-a752c8cdd6d6",
              "name": "First Name",
              "value": "={{ $('Webhook1').item.json.body.firstname }}",
              "type": "string"
            },
            {
              "id": "e9812265-9911-43ec-b32c-7d6b6c6f718e",
              "name": "Last Name",
              "value": "={{ $('Webhook1').item.json.body.lastname }}",
              "type": "string"
            },
            {
              "id": "0cda770a-2217-4a12-9ca4-39f3cbef3336",
              "name": "Email",
              "value": "={{ $('Webhook1').item.json.body.email }}",
              "type": "string"
            },
            {
              "id": "ef3b3512-ac36-41fe-b342-55a0128ba570",
              "name": "Job ID",
              "value": "={{ $('Webhook1').item.json.body.job_id }}",
              "type": "string"
            },
            {
              "id": "bf0bb4ee-6f1f-4fb5-b874-cbb8b62735f2",
              "name": "Resume",
              "value": "={{ $('Webhook1').item.binary.resume }}",
              "type": "binary"
            },
            {
              "id": "7ae2391e-2c34-497f-be3d-0d05f25b3dfb",
              "name": "TargetFolderID",
              "value": "={{ $json.Folder_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        352
      ],
      "id": "6f5d7305-7ee8-4572-aec5-84d13172dda2",
      "name": "Prepare Upload Data"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Application Received</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap\" rel=\"stylesheet\">\n  <style>\n    body {\n      font-family: 'Inter', sans-serif;\n      background-color: #f3f4f6;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      min-height: 100vh;\n      margin: 0;\n    }\n    .card {\n      background: white;\n      padding: 40px;\n      border-radius: 12px;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n      text-align: center;\n      max-width: 400px;\n      width: 100%;\n      border-top: 6px solid #10b981; /* Success Green */\n    }\n    .icon {\n      font-size: 48px;\n      margin-bottom: 20px;\n      display: block;\n    }\n    h1 { color: #111827; margin: 0 0 10px 0; font-size: 24px; }\n    p { color: #6b7280; line-height: 1.5; margin: 10px 0; }\n    \n    /* Passive instruction styling */\n    .footer-note {\n      margin-top: 30px;\n      font-size: 14px;\n      color: #9ca3af;\n      border-top: 1px solid #e5e7eb;\n      padding-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <span class=\"icon\">🎉</span>\n    <h1>Application Received!</h1>\n    <p>Thanks, <strong>{{ $('Prepare Upload Data').item.json['Last Name'] }}</strong>.</p>\n    <p>We have successfully received your CV.</p>\n    <p>Our team will review it shortly.</p>\n    \n    <div class=\"footer-note\">\n      You may now safely close this browser tab.\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        352
      ],
      "id": "a397c63f-24d0-4f08-bfef-4ed704c64df3",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "### WF 1 \n### Application Form ",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -112
      ],
      "typeVersion": 1,
      "id": "1106c72a-2d97-44d5-aa21-c192bb5420ec",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### WF 2\n### 1 Update Applicant_Data \n### 2 Finish Applying",
        "height": 96,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        224
      ],
      "typeVersion": 1,
      "id": "c2888f34-ae38-4fff-b92e-5f2852cd0d4e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "To identify folder to save CV file ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        512
      ],
      "typeVersion": 1,
      "id": "d58ced69-bdd9-485c-8691-1b9831cd69c3",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Upload file": {
      "main": [
        [
          {
            "node": "Applicant Databse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Applicant Databse": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs": {
      "main": [
        [
          {
            "node": "render Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "render Jobs": {
      "main": [
        [
          {
            "node": "Render Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Lookup Job Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Job Details": {
      "main": [
        [
          {
            "node": "Prepare Upload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Data": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}