n8n-Recruitment Automation/3_Questionnaire_Access___Submission.json
{
  "name": "3 Questionnaire Access & Submission",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Assessment | KlarDataLabs</title>\n  <style>\n    body { font-family: 'Helvetica', sans-serif; background-color: #f3f4f6; display: flex; justify-content: center; padding: 40px; }\n    .container { background: white; width: 100%; max-width: 600px; padding: 30px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\n    h1 { color: #111827; font-size: 24px; margin-bottom: 10px; }\n    .job-role { color: #0366d6; font-weight: bold; margin-bottom: 20px; display: block; }\n    label { display: block; font-weight: bold; margin-top: 20px; margin-bottom: 8px; color: #374151; }\n    textarea { width: 100%; height: 100px; padding: 10px; border: 1px solid #d1d5db; border-radius: 6px; font-family: inherit; box-sizing: border-box; }\n    button { background-color: #0366d6; color: white; border: none; padding: 12px 24px; border-radius: 6px; font-size: 16px; cursor: pointer; margin-top: 30px; width: 100%; }\n    button:hover { background-color: #0255b3; }\n  </style>\n</head>\n<body>\n\n<div class=\"container\">\n  <h1>Candidate Assessment</h1>\n  <span class=\"job-role\">Applying for: {{ $('Get Questions').item.json.Job_Title }}</span>\n\n  <form action=\"https://vmi2913532.contaboserver.net/webhook/submit-answers\" method=\"POST\">\n    \n    <input type=\"hidden\" name=\"job_id\" value=\"{{ $('GET Assessment Page').item.json.query.job_id }}\">\n    \n    <input type=\"hidden\" name=\"file_id\" value=\"{{ $('GET Assessment Page').item.json.query.applicant_id }}\">\n\n    <label>1. {{ $('Get Questions').item.json.Question_1 }}</label>\n    <textarea name=\"answer_1\" required></textarea>\n\n    <label>2. {{ $('Get Questions').item.json.Question_2 }}</label>\n    <textarea name=\"answer_2\" required></textarea>\n\n    <label>3. {{ $('Get Questions').item.json.Question_3 }}</label>\n    <textarea name=\"answer_3\" required></textarea>\n\n    <label>4. {{ $('Get Questions').item.json.Question_4 }}</label>\n    <textarea name=\"answer_4\" required></textarea>\n\n    <label>5. {{ $('Get Questions').item.json.Question_5 }}</label>\n    <textarea name=\"answer_5\" required></textarea>\n\n    <button type=\"submit\">Submit Assessment</button>\n  </form>\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        -48
      ],
      "id": "33ce78c1-74ea-4b75-80b6-56d33bea8829",
      "name": "Render Form"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE",
          "mode": "list",
          "cachedResultName": "job_desc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zsld-pK9AhuhDd1TIgpYUitcWs01N9uOY4rKXT4nXuE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job_ID",
              "lookupValue": "={{ $json.query.job_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -48
      ],
      "id": "31b54257-96e3-40bc-90c8-992122b78647",
      "name": "Get Questions",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "take-assessment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "b6924557-3c7d-40c9-8eb3-cd71fa79a3a6",
      "name": "GET Assessment Page",
      "webhookId": "13d4ffee-8124-4e9f-af23-1d4c3cd17b31"
    },
    {
      "parameters": {
        "content": "### WF 5\n### Applicant accesses Questionnaire",
        "height": 96,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -192
      ],
      "typeVersion": 1,
      "id": "db8477ff-6334-4e77-8681-0eba03030124",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Receives job_id, applicant_id from Questionnaire link",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        112
      ],
      "typeVersion": 1,
      "id": "29d8a318-3945-462a-a397-0c293a7ca1f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k",
          "mode": "list",
          "cachedResultName": "Applicant_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "file_id",
              "lookupValue": "={{ $json.query.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20f06971-109a-45da-ac18-8eece5722d08",
      "name": "Get Candidate Email",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Next Steps: KlarDataLabs Job Application",
        "emailType": "text",
        "message": "=Dear {{ $json.firstname }} {{ $json.lastname }}\n\nGreat news! We have reviewed your application and would like to move forward.\n\nPlease click the link below to complete your questionnaire assessment:\n\nhttps://vmi2913532.contaboserver.net/webhook/take-assessment?job_id={{ $json.job_id }}&applicant_id={{ $json.file_id }}\n\nBest,\nRecruitment Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "607c3248-8e4f-4401-b979-1aa483a86c9d",
      "name": "Send Questionnaire",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        -496
      ],
      "webhookId": "1dd40fde-b0aa-4038-9ebc-38cacb311cad",
      "credentials": {
        "gmailOAuth2": {
          "id": "QzLbIUeY4J9ePye2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head>\n  <title>Candidate Approved</title>\n  <style>\n    body { font-family: 'Helvetica', sans-serif; background-color: #f4f6f8; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }\n    .card { background: white; padding: 40px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1); text-align: center; max-width: 400px; }\n    .icon { color: #28a745; font-size: 48px; margin-bottom: 20px; }\n    h1 { color: #333; margin: 0 0 10px 0; font-size: 24px; }\n    p { color: #666; line-height: 1.5; }\n    .btn { display: inline-block; margin-top: 20px; text-decoration: none; color: #0366d6; font-weight: bold; }\n  </style>\n</head>\n<body>\n  <div class=\"card\">\n    <div class=\"icon\">✓</div>\n    <h1>Candidate Approved</h1>\n    <p>\n      <strong>{{ $('Get Candidate Email').item.json.firstname }} {{ $('Get Candidate Email').item.json.lastname }}</strong> \n      has been moved to <strong>Screening 1</strong>.\n    </p>\n    <p>The questionnaire email has been sent successfully.</p>\n    <a href=\"javascript:window.close();\" class=\"btn\">Close Window</a>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "6850955e-9e51-4400-857d-e84e7cf70e00",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        640,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k",
          "mode": "list",
          "cachedResultName": "Applicant_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12iZYBdiw76D5gmCWUpCFdv1GgmqxauUnJ4qLnRXHC-k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Screening 1",
            "file_id": "={{ $('Manager Approves').item.json.query.id }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "335b335c-a037-4b47-a90a-b77c36e0dca6",
      "name": "Update Status: Screening 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4PSAsGhlEF2F0pB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "approve-candidate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0567a4f3-6d04-4f81-9912-205cb37e8d94",
      "name": "Manager Approves",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        -496
      ],
      "webhookId": "approve-candidate-trigger"
    },
    {
      "parameters": {
        "content": "### WF 4\n### Candidate receives Questionnarie \n(On HR Approval)\n\n",
        "height": 112,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -656
      ],
      "typeVersion": 1,
      "id": "e022f269-48b8-402b-9909-42bdbddd50f2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Receives file_id ie: Applicant Identifier from the HR email submit button ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -352
      ],
      "typeVersion": 1,
      "id": "08e9107e-b49a-4b83-9b65-4376d96135c8",
      "name": "Sticky Note7"
    }
  ],
  "connections": {
    "Get Questions": {
      "main": [
        [
          {
            "node": "Render Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Assessment Page": {
      "main": [
        [
          {
            "node": "Get Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Email": {
      "main": [
        [
          {
            "node": "Send Questionnaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Questionnaire": {
      "main": [
        [
          {
            "node": "Update Status: Screening 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Screening 1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Approves": {
      "main": [
        [
          {
            "node": "Get Candidate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}